# EX XP

1)

In [2]:
import numpy as np
import pandas as pd

In [2]:
chipo = pd.read_csv("chipo_data.csv", sep='\t')

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
total_entries = chipo.shape[0]
print("Total number of entries:", total_entries)

Total number of entries: 4622

or

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
total_columns = chipo.shape[1]
print("Total number of columns:", total_columns)

Total number of columns: 5

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [9]:
chipo.value_counts('item_name').idxmax()

'Chicken Bowl'

In [10]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [11]:
total_revenue = chipo['item_price'].sum()
print("Total Revenue:", total_revenue)

Total Revenue: 34500.16

In [12]:
total_orders = chipo['order_id'].nunique()
print("Total Number of Orders:", total_orders)

Total Number of Orders: 1834

In [13]:
average_order_value = total_revenue / total_orders
print("Average Order Value:", average_order_value)

Average Order Value: 18.811428571428575

In [14]:
total_unique_items = chipo['item_name'].nunique()
print("Total Number of Unique Items Sold:", total_unique_items)

Total Number of Unique Items Sold: 50

2.

In [15]:
count_more_than_10 = chipo[chipo['item_price'] > 10]['item_name'].count()

print("Count of Products Costing More Than $10:", count_more_than_10)

Count of Products Costing More Than $10: 1130

3.

In [16]:
users = pd.read_csv('user_data.csv', sep='|')

In [17]:
mean_age_per_occupation = users.groupby('occupation')['age'].mean()
print(mean_age_per_occupation)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

4.

In [18]:
data1_raw = {'ID': [1, 2, 3],
             'Name': ['Alice', 'Bob', 'Charlie']}
data1 = pd.DataFrame(data1_raw)

data2_raw = {'ID': [4, 5, 6],
             'Name': ['David', 'Eve', 'Frank']}
data2 = pd.DataFrame(data2_raw)

data3_raw = {'ID': [7, 8, 9],
             'Name': ['Grace', 'Henry', 'Ivy']}
data3 = pd.DataFrame(data3_raw)

In [19]:
all_data = pd.concat([data1, data2], ignore_index=True)

In [20]:
all_data_col = pd.concat([data1, data2], axis=1)

In [21]:
print("Merged Data (Rows):\n", all_data)
print("\nMerged Data (Columns):\n", all_data_col)

Merged Data (Rows):
    ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eve
5   6    Frank

Merged Data (Columns):
    ID     Name  ID   Name
0   1    Alice   4  David
1   2      Bob   5    Eve
2   3  Charlie   6  Frank

5.

In [22]:
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

iris = pd.read_csv('iris_data.csv', header=None, names=column_names)

In [23]:
missing_vals = iris.isnull().sum()
print("Missing values in iris:\n", missing_vals)

Missing values in iris:
 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

6.

In [24]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

pokemon = pd.DataFrame(data)
print(pokemon)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [25]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
print(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

7.

url - https://drive.google.com/open?id=1At_YCsguCIEqe3l-gSPPquaOORbGLKmj

Is not found 404

Instead will you prev db

In [26]:
url = 'https://drive.google.com/open?id=1At_YCsguCIEqe3l-gSPPquaOORbGLKmj'

baby_names = pd.read_csv(url)

HTTPError: HTTP Error 404: Not Found

In [28]:
rows_to_drop = pokemon[pokemon['hp'] == 39].index
pokemon.drop(index=rows_to_drop, inplace=True)
pokemon.drop(columns='type', inplace=True)
pokemon

        name  hp  evolution pokedex
0  Bulbasaur  45    Ivysaur     yes
2   Squirtle  44  Wartortle     yes
3   Caterpie  45    Metapod      no

## 7 link updated

In [3]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'

baby_names = pd.read_csv(url)

In [5]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [6]:
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])
baby_names.head(10)

       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

8.

In [ ]:
investor = pd.read_csv('investor.csv')
investor.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [ ]:
investor['Date'] = pd.to_datetime(investor['Date'])
investor.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [ ]:
frequency = (investor['Date'].diff().mode()[0]).days
print(f"Frequency of the dataset in days: {frequency}")

Frequency of the dataset in days: 7

In [ ]:
investor.set_index('Date', inplace=True)

In [ ]:
investor.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931